<footer class="site-footer" class="accent p-4 mt-5 mb-4 small">
  <div class="container">
    <div class="row justify-content-sm-center justify-content-lg-start row-md-60 text-left">

      <div class="col-sm-12 col-md-3 col-lg-3">
        <div class="footer-contact-info">
          <a href="{{ site.url }}">
            <img class="img-fluid" src="{{ site.url }}assets/logo-color.jpg" alt="{{ site.title }}">
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="footer-contact-info text-muted text-sm small ">
          <p>The Multi-Disciplinary Tuberous Sclerosis Program at Boston Children's Hospital was started with the belief
            that
            children with Tuberous Sclerosis Complex (TSC) can benefit from care that is specially tailored to their
            needs. Even
            though the problems with the brain, heart, kidney and other organs seen in TSC are also found in other
            diseases, their
            diagnosis and treatment may be specific to TSC.</p>
        </div>
      </div>
      <div class="col-sm-12 mb-4">

        <div class="row mt-2 small">
          <div class="col-sm-6 text-muted text-sm ">
            <a href="{{ site.url }}" class="text-sm text-muted">
              &copy; 2021 The Multi-Disciplinary Tuberous Sclerosis Program at Boston Children's Hospital - All rights
              reserved.
            </a>
          </div>
          <div class="col-sm-6 text-muted text-right">
            <a href="{{ site.url }}privacy.html" class="text-sm text-muted">Website Privacy Policy</a> |
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>