<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}">
        <!-- <i class="fas fa-hand-paper"></i> TS Clinic -->
        <img class="img-fluid" src="{{ site.url }}assets/logo-standard.jpg" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link"  href="{{ site.url }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.url_what}}">What Is TSC?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.url_resources }}">TSC Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://rsz-translational-neuroscience-center.github.io/tsc-study-website/">TSC
          Research Studies <i class="fas fa-external-link-alt"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.url_articles }}">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}{{ site.url_team }}">Our Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!--
<header class="page-header" role="banner">
  <div class="main-content">
    <h1 class="project-name" style="color:#fff"></h1>
    <h2 class="project-tagline" style="color:#fff">{{ page.description | default: site.description | default:
      site.github.project_tagline }}</h2>
  </div>
  {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

</header>-->