<a id="skip-to-content" href="#content">Skip to the content.</a>

<header id="carouselHomeIndicators" class="" data-ride="carousel-home">
  <div class="text-shadow bg-black" role="listbox" edit="repeater_hero_1">
    <div class="bg-black text-center pt-3">
      <a href="{{ site.url }}"><img alt="{{ site.title }}" src="{{ site.url }}assets/logo-white.png" class="img-fluid"></a>
      <div class="col-sm-8 offset-sm-2 text-center text-white pt-5 pb-1" edit="body_1">
        <h3>Multi-Disciplinary Tuberous Sclerosis Program at Boston Children's Hospital</h3>
      </div>

      <div class="col-sm-8 offset-sm-2 text-center text-white pt-1 pb-3" edit="body_1">
        {% include nav-header-main.html %}
      </div>
      <div class="" style="">
        <img src="{{ site.url }}assets/header-banner.jpg" class="img-fluid">
      </div>

    </div>

  </div>


  <div class="section-ico section-icon-bottom">
    <span class="h2"><i class="far fa-arrow-alt-circle-down "></i></span>
  </div>
</header>

<header class="page-header" role="banner">
  <div class="main-content">
    <h1 class="project-name" style="color:#fff">{{ page.title | default: site.title | default:
      site.github.repository_name }}</h1>
    <h2 class="project-tagline" style="color:#fff">{{ page.description | default: site.description | default:
      site.github.project_tagline }}</h2>
  </div>
  <!-- {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %} -->
</header>