<a id="skip-to-content" href="#content">Skip to the content.</a>

<header id="carouselHomeIndicators" class="mb-5" data-ride="carousel-home">
  <div class="text-shadow bg-black" role="listbox" edit="repeater_hero_1">
    <div class="bg-white text-center pt-3">
      <div class="container">
        <div class="row pb-3">
          <div class="col-sm-3"><a href="{{ site.url }}"><img alt="{{ site.title }}" src="{{ site.url }}assets/logo-white.png" class="img-fluid"></a></div>
          <div class="col-sm-9 text-right mt-4">
            {% include nav-header-main.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="page-header" role="banner">
  <div class="main-content">
    <h1 class="project-name" style="color:#fff">{{ page.title | default: site.title | default:
      site.github.repository_name }}</h1>
    <h2 class="project-tagline" style="color:#fff">{{ page.description | default: site.description | default:
      site.github.project_tagline }}</h2>
  </div>
  <!-- {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %} -->
</header>