
<div class="btn-group" role="group" aria-label="Main Navigation">
  <!-- <a href="{{ site.url }}" class="btn btn btn-outline-light">Home</a> -->
  <a href="{{ site.url }}{{ site.url_about }}" class="btn btn-outline-dark">Team</a>
  <a href="{{ site.url }}{{ site.url_resources }}" class="btn btn-outline-dark">Resources</a>
  <a href="https://rsz-translational-neuroscience-center.github.io/tsc-study-website/"
    class="btn btn-outline-dark">Research Studies</a>
  <a href="{{ site.url }}{{ site.url_articles }}" class="btn btn-outline-dark">News</a>
</div>
