<div class="main-content">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{{ site.url }}{{ site.url_team }}">What Is TSC?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ site.url }}{{ site.url_resources }}">TSC Resources</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"
        href="https://rsz-translational-neuroscience-center.github.io/tsc-study-website/">TSC Research Studies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ site.url }}{{ site.url_articles }}">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ site.url }}{{ site.url_team }}">Our Team</a>
    </li>
  </ul>
</div>