
.hero-grid {
  background-image: url("https://rsz-translational-neuroscience-center.github.io/ts-clinic-website/assets/header-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  padding: 10% 15%;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.jumbotron.jumbotron-small {
  padding: 50% 10%;
}

.container-trans-bg {
  // background-color: rgba(255,255,255,0.5);
  background-color: #fff;
  box-shadow: 1px 1px 20px #333333;
  border: 3px #fff solid;
  padding: 1rem 2rem;
  margin: 2rem 10%;
  display: inline-block;
  color: #000 !important;
}

.container-trans-bg.hero-small {
  padding: 1rem 2rem;
  margin: 0 10%;
}

header nav bg-light {
  background-color: #fff !important;
}