<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}
    {% include hero_sm.html %}
    <main id="content" class="main-content" role="main">

      {{ content }}

      <hr />

      {% assign sorted_items = site.articles %}
      {% for item in sorted_items %}
      {% if item.show_status != false %}
      <div class="mb-4 row">
        <div class="col-12">
          <h3 class="mt-0 pt-0 mb-1">{{ item.headline }}</h3>
          {{ item.summary }}

          {% if item.file_name %}
          <div class="mt-1">
            <a href="{{ site.url }}files/{{ item.file }}" title="{{ item.name }}">Download <i class="fas fa-external-link-alt"></i></a>{{ item.file_name }}
          </div>
          {% endif %}

          {% if item.website %}
          <div class="mt-1">
            <a href="{{ item.website }}" title="{{ item.name }}">{{ item.website
              }} <i class="fas fa-external-link-alt"></i></a>
          </div>
          {% endif %}

          {% if item.file_only != true %}
          <div class="mt-1">
            <a href="{{ item.url }}" title="{{ item.name }}">Read more... <i
                class="fas fa-external-link-alt"></i></a>
          </div>
          {% endif %}

        </div>
        <hr class="m-3" />
      </div>
      {% endif %}
      {% endfor %}

    {% include footer.html %}
    </main>
  </body>
</html>
