<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}

     {% include hero_lg.html %}
    <main id="content" class="main-content" role="main">

      {% assign sorted_items = site.ctas %}

      {% for item in sorted_items %}
      {% if item.show_status != false %}
      <div class="row featurette my-4 d-flex align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ item.headline }}</h2>
          <p class="lead">{{ item.summary }}</p>
          {% if item.link_url %}
          <div class="mt-1">
            <a href="{{ item.link_url }}" title="{{ item.headline }}"><i class="fas fa-external-link-alt"></i> {{ item.link_text
              }}</a>
          </div>
          {% endif %}
        </div>
        <div class="col-md-5">
          <img src="{{ site.url }}assets/{{ item.picture }}" class="img-responsive" />
        </div>
      </div>
      <hr class="my-4" />
      {% endif %}
      {% endfor %}

      <!-- <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">What is this CTA?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="http://www.w3.org/2000/svg"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">What is this CTA?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="http://www.w3.org/2000/svg"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            <div class="card-body">
              <p class="card-text">What is this CTA?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr /> -->
      {{ content }}


    {% include footer.html %}
    </main>
  </body>
</html>
