{% assign member_count_array = "" | split: ',' %}
{% for item in site.members %}
  {% if item.show_status != false %}
    {% assign member_count_array = member_count_array | push: title %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head.html %}

<body>
  {% include header-tall.html %}

  <main id="content" class="container-fluid p-0 m-0" role="main">
    <div>
      <section class="section-md bg-white pb-1 text-dark">
        Something
      </section>
    </div>


    {% include footer.html %}
  </main>
</body>

</html>
