<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{% include head.html %}

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  {% include header.html %}
  {% include hero_sm.html %}
  <main id="content" class="main-content" role="main">

    <div class="row">
      <div class="col-md-6">
        {{ content }}
      </div>
      <div class="col-md-5 offset-md-1 bg-light p-4 thumbnail">
        {% assign sorted_items = site.teams | sort: 'order' | reverse %}

        {% for item in sorted_items %}
        {% if item.show_status != false %}
        <div class="pb-2 row mb-3">
          <div class="col-1 pr-2 h4">
            <i class="fas fa-user text-primary p-0 m-0"></i>
          </div>
          <div class="col-11">
            <h4 class="p-0 m-0 ">{{ item.name }}</h4>
            <small>{{ item.position }}</small>

            {% if item.profile_url %}
            <div class="mt-0">
              <a href="{{ item.profile_url }}" target="_blank" title="{{ item.name }}"><small>Profile <small></small><i
                  class="fas fa-external-link-alt"></i></small></small></a>
            </div>
            {% endif %}
          </div>
        <hr />
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </main>
</body>

</html>